<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tbi.supplierplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".SupplierApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SupplierPlus"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".framework.ui.registration.RegistrationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".framework.ui.sales.customers.product_selection.ChangePriceActivity"
            android:exported="false" />
        <activity
            android:name=".framework.ui.reports.reportCustomer.ReportCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".framework.ui.sales.customers.product_selection.ChangeSpecialPriceActivity"
            android:exported="false" />
        <activity
            android:name=".framework.ui.purchase.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".framework.ui.addNewItem.AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".framework.ui.addNewItem.AddNewItemActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".BillActivity2"
            android:exported="false" />
        <activity
            android:name=".framework.ui.login.LoginAccActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>